# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/
env/

# Archivos de base de datos local
*.db
*.sqlite*
instance/

# Fotos capturadas localmente (efímeras en la nube)
captured_photos/

# Archivos de credenciales sensibles (¡CRÍTICO!)
# Si tu JSON de cuenta de servicio se llama 'mi_credencial.json', ponlo aquí:
# mi_credencial.json
# O si todos tus JSONs de credenciales están en una subcarpeta:
# credentials/*.json
# O para ser muy general si no tienes otros JSONs que debas subir:
# *.json
